{% load static %}
<header class="clearfix">
    <h1>CHI TIẾT ĐƠN HÀNG KIÊM PHIẾU THU</h1>
    <div id="project" class="clearfix">
        <img style="width:150px;padding-right:10px;margin-left:95px" src="{% static 'css/logo.png' %}">
    </div>
    <div id="project" style="padding-left:20px;" class="clearfix">
        <div>Tên công ty: CÔNG TY CỔ PHẦN PHÁT TRIỂN DU LỊCH VÀ DỊCH THUẬT CVN</div>
        <div>Trụ sở:  Số 228, Đường  Âu Cơ, Phường  Quảng An, Quận Tây Hồ, TP. Hà Nội</div>
        <div>Hotline:   0986.953.036 - 0964.198.855 -0936.223.598   Tel: (04) 668 459 15</div>
        <div>Web:  www.dichtot.com / www.visauytin.com       Skype/Yahoo: dichnhanh</div>
        <div>Email: dichtot@gmail.com / congchungdich@gmail.com /  visavns@gmail.com</div>
    </div>
</header>